#start_button {
    transition: .35s;
    width: 130px;
    height: 70px;
}

#start_button:hover {
    width: 150px;
    height: 90px;
    transition: .5s;
    font-size: 1.75rem !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    /*overflow: hidden;*/
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
    animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.line:nth-child(4) {
    margin-left: 15%;
}

.line:nth-child(4)::after {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.line:nth-child(5) {
    margin-left: 50%;
}

.line:nth-child(5)::after {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@-webkit-keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

#ideas {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    line-height: 1
}

footer * {
    font-family: 'Kanit', sans-serif;
}

@media screen and (min-width: 765px) {
    #ideas {
        font-size: 10rem;
    }
}
