<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
	<title>Ideas Labs</title>
	<!-- Icons -->
	{#    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'core/icons/apple-icon-57x57.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'core/icons/apple-icon-60x60.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'core/icons/apple-icon-72x72.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'core/icons/apple-icon-76x76.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'core/icons/apple-icon-114x114.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'core/icons/apple-icon-120x120.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/icons/apple-icon-144x144.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'core/icons/apple-icon-152x152.png' %}">#}
	{#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/icons/apple-icon-180x180.png' %}">#}
	{#    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'core/icons/android-icon-192x192.png' %}">#}
	{#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/icons/favicon-32x32.png' %}">#}
	{#    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'core/icons/favicon-96x96.png' %}">#}
	{#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/icons/favicon-16x16.png' %}">#}
	{#    <link rel="manifest" href="{% static 'core/icons/manifest.json' %}">#}
	{#    <meta name="msapplication-TileColor" content="#ffffff">#}
	{#    <meta name="msapplication-TileImage" content="{% static 'core/icons/ms-icon-144x144.png' %}">#}
	{#    <meta name="theme-color" content="#ffffff">#}

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Google Icons -->
	{#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Kanit&display=swap" rel="stylesheet">

	{% block styles %}
	{% endblock styles %}
</head>
<body style="height: 100%; background-color: #000">
<div id="core_frame" style="height: 100%">
	<div id="content" style="height: 100%;">

		{% block content %}

		{% endblock %}
	</div>
</div>
{#{% include 'core/footer.html' %}#}
</body>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.0/dist/sweetalert2.all.min.js"
        integrity="sha256-X5T6E3b8ovVj1059UoPY6mxAvT1Ogdn+pB4y01hQznk=" crossorigin="anonymous"></script>
<script src="{% static 'scripts/script.js' %}"></script>

{% block script %}

{% endblock script %}

<script>
    {#let header_md = document.getElementById('header_md')#}
    {#let chevron = document.getElementById('header_toggle_menu_chevron')#}
    {#document.getElementById('header_toggle_menu').addEventListener('click', (e) => {#}
    {#    console.log('click')#}
    {#    if (header_md.classList.contains('dropdown_animation')) {#}
    {#        header_md.classList.remove('dropdown_animation')#}
    {#        chevron.style.transform = 'rotate(90deg)'#}
    {#    } else {#}
    {#        header_md.classList.add('dropdown_animation')#}
    {#        chevron.style.transform = 'rotate(270deg)'#}
    {#    }#}
    {##}
    {#window.onscroll = function () {#}
    {#    myFunction()#}
    {##}
    {#var header = document.getElementById("header");#}
    {#var sticky = header.offsetTop;#}
    {##}
    {#function myFunction() {#}
    {#    if (window.pageYOffset > sticky) {#}
    {#        header.classList.add("scrolled");#}
    {#    } else {#}
    {#        header.classList.remove("scrolled");#}
    {#    }#}
</script>
</html>
