<div class="d-flex w-100 justify-content-between mb-md-5 pt-5 pb-5">

	<p class="mr-5 font-weight-bold text-white">IDEAS LABS</p>
	<div>
		<a href="{% url 'core:base' %}" class="font-weight-bold text-white text-right">HOME</a>
	</div>

</div>
