{% extends 'core/base.html' %}

{% block content %}
	<style>

	</style>
	<div class="lines">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	<div class="cursor"></div>
	<div class="cursor2"></div>
	<div class="w-100 h-100 d-flex flex-column justify-content-between p-5 position-absolute">
		<div class="d-flex flex-column justify-content-start">
			{% include 'core/header.html' %}
			<div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
				<div class="mt-md-5 col-md-6">
					<p id="ideas"
					   class="text-white mb-0">IDEAS</p>
					<p style="font-family: 'Aleo', serif;font-size: 2rem; font-weight: bold;" class="text-white">...
						thinking has never been so difficult.</p>
				</div>
				<div class="d-flex justify-content-center mt-5 col-md-6">
					<a href="{% url 'core:create' %}" id="start_button"
					   class="btn border border-white text-white  d-flex justify-content-center align-items-center"
					   style="font-size: 2rem">
						START
					</a>
				</div>
			</div>
		</div>
		<div>
			<div>
				<p style="font-family: 'Aleo', serif; line-height: 1" class="font-weight-bold text-white">Find some
					inspiration for your projects,</p>
				<p style="font-family: 'Aleo', serif; line-height: 1" class="font-weight-bold text-white">never give
					up</p>
			</div>
		</div>


	</div>
{% endblock %}
