{% extends 'core/base.html' %}

{% block content %}
	<div class="p-5">
		{% include 'core/header.html' %}
	</div>
	<div class="container mt-3 mb-5 pb-5">
		<p class="font-weight-bold text-white p-2">INSTRUCTIONS</p>
		<p class="text-white p-2">
			Choose between 2 to 10 words and click GENERATE. Relate the words and start creating awesome ideas. You can
			replace not desired words to find the perfect idea. The more words you generate the more ideas you can get
			but less precise they will be.
		</p>
		<p class="text-white p-2">
			This website is perfect for those who need to find inspiration to start a new business, a school project, to
			develop a website or an application.
		</p>
	</div>
	<div class="d-flex justify-content-center">
		<form action="">
			{% csrf_token %}
		</form>
		<div class="d-flex flex-column align-items-center container">
			<p id="counter" class="text-white font-weight-bold" style="font-size: 30px;">
				{% if request.GET.range %}
					{{ request.GET.range }}
				{% else %}
					6
				{% endif %}

				words of 10</p>
			<form action="{% url 'core:create' %}" class="container d-flex flex-column flex-md-row pt-4">

				<input type="range" name="range" id="range" max="10" min="2"
				       class="w-100 mr-md-5 mb-5 mb-md-0 align-items-center"
				       value="{{ request.GET.range }}" step="2">
				<button id="create_button" type="submit" class="btn border border-white text-white"
				        style="font-size: 1.5rem">
					GENERATE
				</button>
			</form>
			<div class="d-flex flex-column w-100 mt-5">
				<div class="d-flex">
					{% for word in words %}
						<div class="d-flex justify-content-between col-6 align-items-center text-white rounded p-2">
							<div class="d-flex align-items-center">
								<p class="m-0" id="word_{{ forloop.counter0 }}">{{ word|upper }}</p>
							</div>
							<div>
								<input type="hidden" name="current" value="{{ word }}">
								<button class="btn text-info" type="submit"
								        onclick="updateWord('{{ word }}', {{ forloop.counter0 }})">change
								</button>
								{#								<button class="btn text-danger">not useful</button>#}
							</div>
						</div>
						{% if forloop.counter0|divisibleby:2 == 0 %}
							</div>
							<div class="d-flex">
						{% endif %}
					{% endfor %}
					</div>
			</div>
			<textarea placeholder="Write your ideas related to the words here." class="mt-5 mb-4 p-2 rounded w-100"
			          name="" id="" cols="30" rows="2"></textarea>
		</div>
	</div>
	<div class="container border-dark border rounded w-100 mt-5"></div>
	<div class="container mt-4 pt-5 pb-5 mb-5">
		<p class="font-weight-bold text-center text-white mb-5" style="font-size: 30px;">DEVELOP YOU IDEA</p>
		<div>
			{% for section in sections %}
				<div class="d-flex flex-column flex-md-row mb-md-3 mb-5">
					<div class="text-white col-md-3">
						<p class="font-weight-bold mb-0">{{ section.section }}</p>
						<p>{{ section.description }}</p>
					</div>
					<div class="d-flex col-md-9">
						<textarea class="rounded border-0 w-100 p-2" name="" id="" rows="5"></textarea>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	</div>
	<script>
        const range_ = document.getElementById("range")
        const counter = document.getElementById('counter')
        range_.addEventListener('input', (el) => {
            counter.innerHTML = `${el.target.value} words of 10`
        })


        function updateWord(word, id) {
            fetch('/update', {
                'method': 'POST',
                'body': 'range=' + word,
                'credentials': "include",
                'headers': new Headers({
                    'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val(),
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    'X-Requested-With': 'XMLHttpRequest'
                })
            }).then(response => response.json()).then(data => {
                document.getElementById('word_' + id).innerHTML = data.word.toUpperCase()
            })
        }

	</script>
{% endblock %}


{% block script %}

{% endblock %}
